<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThreeCountdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A01D9961EDAB713008F8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A01D9AF1EDAB714008F8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A01D9BA1EDAB714008F8CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
